header {
    display: flex;
    align-items: center;
    column-gap: 64px;

    width: 100%;
    max-width: 1440px;
    padding-top: 24px;
}

header img {
    width: 70px;
    height: auto;
}

.navigation {
    display: flex;
    align-items: center;
    column-gap: 48px;

    list-style: none;
}

.navigation__link {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

